body{
    background-color: rgb(243, 243, 243);
}

#logo{
    height: 2em;
    width: auto;
    margin-right: 1em;
    margin-left: -10px;
}

.distance{
    margin-top: 3em;
}

.img-left{
    margin-left: 20%;
}

.img-right{
    margin-top: -20em;
    margin-left: 55%;
}

.bg-lights{
    background-color: rgb(173, 185, 176);
}

footer{
    background-color: rgb(173, 185, 176);
}

.l-card-l{
    margin-left: 20%;
}

.l-card-r{
    margin-left: 55%;
}